/* --- INYECCIÓN DE FUENTES --- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

/* Ocultar interfaz nativa de Streamlit */
#MainMenu, header, footer, .stDeployButton { display: none !important; }
section[data-testid="stSidebar"] { display: none !important; }

/* Resetear el contenedor principal */
.block-container { 
    max-width: 100% !important; 
    padding: 0 !important; 
    margin: 0 !important; 
    font-family: 'Montserrat', sans-serif !important;
    background-color: #F3F4F6;
}

/* LA MAGIA: Dibuja la barra Gris Oxford a todo lo ancho de la pantalla */
.block-container::before {
    content: "";
    position: absolute;
    top: 0; left: 50%;
    width: 100vw;
    height: 90px;
    background-color: #374151; /* Gris Oxford Federal */
    z-index: 0;
    transform: translateX(-50%);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* --- COLORES TAILWIND --- */
.bg-primary { background-color: #374151 !important; }
.text-primary { color: #374151 !important; }
.bg-secondary { background-color: #FACC15 !important; }
.text-secondary { color: #FACC15 !important; }
.bg-card-light { background-color: #FFFFFF !important; }
.text-alert-red { color: #EF4444 !important; }
.bg-alert-red { background-color: #EF4444 !important; }
.text-success-green { color: #22C55E !important; }
.text-info-blue { color: #3B82F6 !important; }

/* Ajustes para Toggles de Streamlit */
.stToggle { background: #FFFFFF; padding: 10px; border-radius: 8px; border: 1px solid #E5E7EB; margin-bottom: 5px; }

/* --- NAVEGACIÓN PROFESIONAL (Radio Streamlit disfrazado) --- */
div[data-testid="stRadio"] {
    position: relative;
    z-index: 10;
    margin-top: 15px; 
}
div[data-testid="stRadio"] > div[role="radiogroup"] {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* Carga los botones a la DERECHA */
    gap: 20px;
    padding-right: 30px;
}
div[data-testid="stRadio"] > div[role="radiogroup"] > label {
    background: transparent !important;
    color: #FACC15 !important; /* LETRAS DORADAS */
    font-weight: 700 !important;
    font-size: 15px !important;
    cursor: pointer;
    border: none !important;
    padding: 5px 15px !important;
    border-radius: 0 !important;
    transition: 0.3s;
}
div[data-testid="stRadio"] > div[role="radiogroup"] > label:hover {
    color: #FFFFFF !important; /* Se hacen blancas al pasar el mouse */
}
div[data-testid="stRadio"] > div[role="radiogroup"] > label[data-checked="true"] {
    color: #FACC15 !important;
    border-bottom: 3px solid #FACC15 !important; /* Subrayado dorado */
}
div[data-testid="stRadio"] > div[role="radiogroup"] > label > div:first-child {
    display: none !important; /* Oculta los circulitos nativos */
}